# Visual Studio / .NET Core / MSBuild
[Bb]in/
[Oo]bj/
[Tt]est[Rr]esults/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vspscc
*.vssscc

# Generated audit and packaging output
artifacts/
Compiled/
